<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Inicio | INFOGAMES </title>

</head>
<body>
<div layout:fragment="content">
    <div class="bg-ligth p-5 rounded">
        <h1 class="display-1 text-success">Bienvenidos a INFOGAME</h1>
        <h2>Disfruta de la mejor pagina para informarte de los nuevos lanzamientos de tus juegos favoritos</h2>
    </div>
    <h4 class="text-danger mt-5">ultimos estrenos</h4>

    <div class="row">
        <div class="col-md-3 my-5" th:each="juegos : ${ultimosJuegos}"
             th:object="${juegos}">
            <a th:href="@{/juegos/{id}(id=*{id})}" class="card shadow-lg"
               style="text-decoration: none;">
            <img th:src="@{/assets/{filename}(filename=*{rutaPortada})}"
                       class="card-img-top"
                       th:alt="*{titulo}">
            <div class="card-body">
                <h2 class="card-title fs-6" th:text="*{titulo}"></h2>
                <p th:text="*{#temporals.format(fechaEstreno, 'dd/MM/yyyy')}"
                class="text-muted small"></p>
            </div>
            </a>
        </div>
    </div>

</div>
</body>
</html>